header {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    position: fixed;
    z-index: 100;
}

nav {
    float: left;
}

nav ul {
    list-style: none;
    overflow: hidden;
}

nav ul li {
    float: left;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

nav ul li a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

nav ul li:hover {
    background: #3004bf;
}

body {
    background-color: lightblue;
}

h1 {
    padding-top: 100px;
    text-align: center;
}

section {
    background-color: lightcyan;
}

section p {
    color: #111010;
    text-align: justify;
    padding: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16;
    border: #111010 solid;
    outline: #3004bf dotted 10px;
}

aside {
    background-color: lightskyblue;
}

.center {
    text-align: center;
}

/* .center {
    text-align: center;
} */

/* body {
    background-image: url('logopython.png');
} */

.border {
    border-width: 10px;
    border-style: solid;
    border-color: #3004bf;
    border-radius: 10px;
}

.margen {
    margin-top: 300px;
}

.space {
    padding: 30px;
}

/* div {
    width: 300px;
    padding: 25px;
    box-sizing: border-box;
} */

table, th, td {
    background-color: powderblue;
    border: 1px solid #111010;
    border-collapse: collapse;
}

table {
    width: 100%;
}

p {
    text-indent: 50px;
    letter-spacing: 5px;
    line-height: 2.0;
    word-spacing: 15px;
}

.size-link {
    font-size: 200px;
}

#alink {
    outline: 10px green solid;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
}

#alink:hover {
    background-color: #3004bf;
    color: #fff;
}

button {
    background-color: transparent;
    outline: 10px green solid;
    border-radius: 10px;
    padding: 10px;
    width: 60%;
    height: 10%;
}

button:hover {
    background-color: #3004bf;
    color: #fff;
}